/* Modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    margin-top: 35px;
    margin-left: 70px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    max-height: 90vh;
    overflow: auto;
  }

  .pro-img {
    width: 75px;
  }

  .close-btn {
    border: none;
  } 

  .product-item{
      border-radius: 8px;
      overflow: hidden;
      background: #fff;
      height: 100%;
      box-shadow: 0 3px 6px #00000012;
      aspect-ratio: 3/2;
      object-fit: contain;
  }
  
  .modal3 .close-btn {
    display: none;
  }